$green: #20d97f;
$red: #ee564e;

.crypto {
  display: flex;
  justify-content: center;

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .green {
    background-color: $green;
  }

  .red {
    background-color: $red;
  }

  .text-green {
    color: $green;
  }

  .text-red {
    color: $red;
  }

  span {
    padding-left: 12px;
    font-weight: 500;
  }
}
